#### https://sec-api.io/
#### my API Key
#### af82be7d92bce26dff9df1b4de3329400777fe8232d6ac105222ba87cf78cb3c

In [1]:
import pandas as pd

/Users/erinyu/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
# create cik_ticker data frame
# https://www.sec.gov/files/company_tickers.json
# cik stand for central index key

# Read JSON data into DataFrame
# had issue reading the data directly from the sec link so had to save down .json first
cki_ticker = pd.read_json('company_tickers.json')

#print(cki_ticker)
cki_ticker = cki_ticker.transpose()

cki_ticker

       cik_str ticker                              title
0       789019   MSFT                     MICROSOFT CORP
1       320193   AAPL                         Apple Inc.
2      1045810   NVDA                        NVIDIA CORP
3      1018724   AMZN                     AMAZON COM INC
4      1652044  GOOGL                      Alphabet Inc.
...        ...    ...                                ...
10426  1131312  ZNOGW                 ZION OIL & GAS INC
10427  1826681  STRCW  Sarcos Technology & Robotics Corp
10428   884614   UGIC                      UGI CORP /PA/
10429  1923734  RKPPS           Ark7 Properties Plus LLC
10430  1923734  AFTWS           Ark7 Properties Plus LLC

[10431 rows x 3 columns]